@model RavenDB_Embedded.Models.MuonSachView

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>MuonSachView</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaPhieu" class="control-label"></label>
                <input asp-for="MaPhieu" class="form-control" />
                <span asp-validation-for="MaPhieu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenDG" class="control-label"></label>
                <select class="form-control" asp-for="TenDG">
                    @{                        
                        List<DocGiaSV> dgs = DatabaseHelper.ListDocGia();
                        if (dgs.Capacity != 0)
                        {
                            foreach (DocGiaSV sv in dgs)
                            {
                                <option value="@sv.MaDG">@sv.TenDG</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="TenDG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenSach" class="control-label"></label>
                <select asp-for="TenSach" class="form-control">
                    @{                        
                        List<Sach> sachs = DatabaseHelper.ListSach();
                        if (sachs.Capacity != 0)
                        {
                            foreach (Sach s in sachs)
                            {
                                <option value="@s.MaSach">@s.TenSach</option>
                            }
                        }
                        else
                        {
                            <option value="null">null</option>
                        }
                    }
                </select>
                <span asp-validation-for="TenSach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TenChiNhanh" class="control-label"></label>
                <select asp-for="TenChiNhanh" class="form-control">
                    @{                        
                        List<ChiNhanh> cns = DatabaseHelper.ListChiNhanh();
                        if (cns.Capacity != 0)
                        {
                            foreach (ChiNhanh cn in cns)
                            {
                                <option value="@cn.MaChiNhanh">@cn.TenChiNhanh</option>
                            }
                        }
                    }
                </select>
                <span asp-validation-for="TenChiNhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuongMuon" class="control-label"></label>
                <input asp-for="SoLuongMuon" class="form-control" />
                <span asp-validation-for="SoLuongMuon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayMuon" class="control-label"></label>
                <input asp-for="NgayMuon" class="form-control" />
                <span asp-validation-for="NgayMuon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
