@model IEnumerable<RavenDB_Embedded.Models.MuonSachView>

@{
    ViewData["Title"] = "Search";
}

<div>
    <h2>Search</h2>
    <form asp-action="search" method="post">
        <p style="text-align:center">Mã phiếu: <input type="text" name="input" /> <input type="submit" value="Search" /></p>
    </form>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if (ViewBag.Null == "null")
    {
        <p style="text-align:center">Không tìm thấy phiếu mượn!</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MaPhieu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenDG)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenSach)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TenChiNhanh)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SoLuongMuon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayMuon)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaPhieu)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenDG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenSach)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenChiNhanh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuongMuon)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NgayMuon)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
}
        <div style="text-align:center">
            <a asp-action="Index">Back to List</a>
        </div>