@model IEnumerable<RavenDB_Embedded.Models.YeuCauMuaSach>

@{
    ViewData["Title"] = "ListYeuCau";
}

<h2>Yêu cầu mua thêm sách</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSach)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaCN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaCN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                <a asp-action="DeleteYC" asp-controller="QuanLy" asp-route-id="@item.Id.Replace("/","*")">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<a asp-action="ListPhanBo"><input type="submit" value="Phân bổ sách" class="btn btn-primary" /></a>